.welcome-msj {
  padding-top: 10rem;
  padding: 4rem;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  margin-left: 25rem;
  font-family: serif;
  font-weight: 200;
  font-size: medium;
  transition: transform 0.5s ease-in-out;
}

.door-open {
  transform: rotateY(90deg);
}



@media only screen and (max-width: 768px) {
  .welcome-msj {
    padding-top: 6rem;
    padding: 2rem;
    margin-left: 5rem;
  }
}


@media only screen and (max-width: 480px) {
  .welcome-msj {
    padding-top: 3rem;
    padding: 1rem;
    margin-left: 1rem;
  }
}
@media only screen and (min-width: 1200px) {
  .welcome-msj {
    padding-top: 15rem;
    padding: 6rem;
    margin-left: 25rem;
  }
}
