.testimonial-card {
  transition: transform 0.3s ease-in-out;
}

.testimonial-card:hover {
  transform: scale(1.05);
}

.testimonial {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(32, 29, 25);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #3498db;
  border-radius: 10px;
  background-color: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
}
